header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #af2727;
  padding: 3px 10px;
}

header span {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}